**Table of Content**
- [Week {{ week }}: The Title](#week-{{ week }}-the-title)
- [Topics](#topics)
- [Concepts](#concepts)
- [Course materials](#course-materials)
- [Suggested reading](#suggested-reading)

# Week {{ week }}: The Title

## Objectives


## Topics
Here are the topics we are going to cover
* [ ] TBD


## Concepts
* TBD


## Course materials
* slides [[link](TBD)]

# Suggested reading
* TBD
* Online resources
* TBD